@import url("http://abhyasayogshala.com/css/new.css");
body {
    margin: 0px;
    padding: 0px;
   font-size: 10px !important;
}
.po-lip {
    display: inherit;
    width: 75%;
    margin: 0 auto;
    padding: 40px 0;
    float: none;
}
.lip-t {
    position: absolute;
    background: #f1ff2e;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
}



.lip {
    width: 100%;
    position: relative;
    float: left;
    /* text-align: center; */
    background: whitesmoke;
    margin: 0px 0;
}
.lip_img {
    width: 4%;
    display: inline-block;
}
.lip_img img{ width:100%;}


.li1 {
    position: absolute;
    top: 18%;
    left: 29%;
}
.li2 {
    position: absolute;
    top: 24%;
    left: 21%;
}

.li3 {
    position: absolute;
    position: absolute;
    top: 28%;
    left: 16%;
    transform: rotate(-38deg);
}
.li4 {
    position: absolute;
    top: 40%;
    left: 14%;
    transform: rotate(-43deg);
}

.li5 {
    position: absolute;
    top: 50%;
    left: 14%;
    transform: rotate(-108deg);
}
.li6 {
    position: absolute;
    top: 58%;
    left: 15%;
    transform: rotate(-90deg);
}
.li7 {
    position: absolute;
    top: 66%;
    left: 35%;
    transform: rotate(-138deg);
}
.li8 {
    position: absolute;
    top: 13%;
    left: 35%;
    transform: rotate(13deg);
}
.li9 {
    position: absolute;
    top: 10%;
    left: 44%;
    transform: rotate(39deg);
}
.li10 {
    position: absolute;
    top: 11%;
    left: 50%;
    transform: rotate(59deg);
}
.li11 {
    position: absolute;
    top: 13%;
    left: 55%;
    transform: rotate(76deg);
}
.li12 {
    position: absolute;
    top: 12%;
    left: 64%;
    transform: rotate(65deg);
}
.li13 {
    position: absolute;
    top: 20%;
    left: 68%;
    transform: rotate(20deg);
}

.li14 {
    position: absolute;
    top: 25%;
    left: 77%;
    transform: rotate(81deg);
}

.li39 {
        position: absolute;
    top: 46%;
    left: 47%;
    transform: rotate(228deg);
}
.li40 {
    position: absolute;
    top: 19%;
    left: 35%;
    transform: rotate(350deg);
}
.li41 {
        position: absolute;
    top: 22%;
    left: 46%;
    transform: rotate(359deg);
}
.li42 {
    position: absolute;
    top: 35%;
    left: 26%;
    transform: rotate(307deg);
}
.li43 {
    position: absolute;
    top: 47%;
    left: 22%;
    transform: rotate(305deg);
}
.li44 {
    position: absolute;
    top: 56%;
    left: 30%;
    transform: rotate(148deg);
}

.li45 {
    position: absolute;
    top: 34%;
    left: 33%;
    transform: rotate(-1deg);
}
.li46 {
    position: absolute;
    top: 42%;
    left: 33%;
    transform: rotate(-4deg);
}
.li47 {
    position: absolute;
    top: 29%;
    left: 42%;
    transform: rotate(11deg);
}
.li48 {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: rotate(-10deg);
}
.li49 {
    position: absolute;
    top: 47%;
    left: 30%;
    transform: rotate(-16deg);
}
.li50 {
    position: absolute;
    top: 49%;
    left: 39%;
    transform: rotate(-19deg);
}
.li51 {
    position: absolute;
    top: 33%;
    left: 53%;
    transform: rotate(85deg);
}
.li52 {
    position: absolute;
    top: 39%;
    left: 54%;
    transform: rotate(89deg);
}
.li53 {
    position: absolute;
    top: 29%;
    left: 60%;
    transform: rotate(52deg);
}

.li54 {
    position: absolute;
    top: 27%;
    left: 71%;
    transform: rotate(38deg);
}
.li55 {
    position: absolute;
    top: 35%;
    left: 69%;
    transform: rotate(85deg);
}
.li56 {
    position: absolute;
    top: 47%;
    left: 57%;
    transform: rotate(31deg);
}
.li57 {
    position: absolute;
    top: 48%;
    left: 63%;
    transform: rotate(-180deg);
}
.li58 {
    position: absolute;
    top: 53%;
    left: 69%;
    transform: rotate(212deg);
}
.li59 {
    position: absolute;
    top: 56%;
    left: 78%;
    transform: rotate(122deg);
}
.li60 {
    position: absolute;
    top: 54%;
    left: 55%;
    transform: rotate(234deg);
}
.li61 {
    position: absolute;
    top: 57%;
    left: 38%;
    transform: rotate(308deg);
}

.name{ color: #fff;}
.name1{position: absolute;
    z-index: 9;
    left: 2px;
    top: 16%;
    transform: rotate(58deg);
   }

.name2{position: absolute;
    z-index: 9;
    left: 2px;
    top: 16%;
    transform: rotate(58deg);
   }
   .name3{position: absolute;
    z-index: 9;
    left: 2px;
    top: 16%;
    transform: rotate(58deg);
   }
   .name4{position: absolute;
    z-index: 9;
    left: 2px;
    top: 16%;
    transform: rotate(58deg);
   }
   .name5{position: absolute;
    z-index: 9;
    left: 2px;
    top: 16%;
    transform: rotate(58deg);
   }
   .name6{position: absolute;
    z-index: 9;
    left: 2px;
    top: 16%;
    transform: rotate(58deg);
   }
   .name7{position: absolute;
    z-index: 9;
    left: 2px;
    top: 16%;
    transform: rotate(58deg);
   }
   .name8{position: absolute;
    z-index: 9;
    left: 2px;
    top: 16%;
    transform: rotate(58deg);
   }
   .name9{position: absolute;
    z-index: 9;
    left: 2px;
    top: 16%;
    transform: rotate(58deg);
   }
   .name10{position: absolute;
    z-index: 9;
    left: 2px;
    top: 16%;
    transform: rotate(58deg);
   }
.name11{position: absolute;
    z-index: 9;
    left: 2px;
    top: 16%;
    transform: rotate(58deg);
   }
   .name12{position: absolute;
    z-index: 9;
    left: 2px;
    top: 16%;
    transform: rotate(58deg);
   }
   .name13{position: absolute;
    z-index: 9;
    left: 2px;
    top: 16%;
    transform: rotate(58deg);
   }
   .name14{position: absolute;
    z-index: 9;
    left: 2px;
    top: 16%;
    transform: rotate(-112deg);
   }
   .name15{position: absolute;
    z-index: 9;
    left: 2px;
    top: 16%;
    transform: rotate(-112deg);
   }
   .name16{position: absolute;
    z-index: 9;
    left: 2px;
    top: 16%;
    transform: rotate(-112deg);
   }
   .name17{position: absolute;
    z-index: 9;
    left: 2px;
    top: 16%;
    transform: rotate(-112deg);
   }
   .name18{position: absolute;
    z-index: 9;
    left: 2px;
    top: 16%;
    transform: rotate(-112deg);
   }
   .name19{position: absolute;
    z-index: 9;
    left: 2px;
    top: 16%;
    transform: rotate(69deg);
   }
   .name20{position: absolute;
    z-index: 9;
    left: 2px;
    top: 16%;
    transform: rotate(69deg);
   }
.name21{position: absolute;
    z-index: 9;
    left: 2px;
    top: 16%;
    transform: rotate(58deg);
   }
   .name22{position: absolute;
    z-index: 9;
    left: 2px;
    top: 16%;
    transform: rotate(58deg);
   }
   
 
   
   

















